* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: monospace;
  font-size: 40vmin;
  color: #444;
  background: linear-gradient(180deg, khaki, #f1ebba);
}

.app {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  user-select: none;

  & [data-number] {
    width: 100%;
    text-align: center;
    order: 1;
    transition: linear;
  

    &.transition {
      opacity: 0;
      transform: scale(.8);
    }

    &::before {
      content: attr(data-number);
    }

  }

  & [data-action] {
    border: none;
    border-radius: 50%;
    font-size: 0.5em;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    margin: 0;
    transition: transform 100ms;
    background: none;
    color: indianred;
  

    &:active,
    &.fake-active {
      color: red;
    }

  }

  & [data-action="decrement"] {
    order: 2;
  }

  & [data-action="decrement"]:active,
  & [data-action="decrement"].fake-active {
    transform: translateY(+5%);
  }

  & [data-action="increment"] {
    order: 3;
  }

  & [data-action="increment"]:active,
  & [data-action="increment"].fake-active {
    transform: translateY(-5%);
  }

}

#help {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  font-size: 12pt;
  padding: 2vmin;
  display: flex;
  align-items: center;

  [type="checkbox"] {
    display: none;

    &+label {
      cursor: pointer;
      padding: .5em;
      border: {
        color:#444;
        style: solid;
        radius: 5px;
        width: 1px;
      }
      background-color: #aaaaaa33;
      display: block;
      text-align: center;

      &:hover{
        background-color: #b9ce9793;
      }

      &:active {
        font-weight: bold;
      }

      &::before {
        content:'Deny';
      }

      &::after {
        content: ' [spacebar]';
      }
    }

    &:checked+label {
      background-color: #8bb647;
      color: #fff;

      &::before {
        content: 'Allow';
      }
    }
  }

  .keyboard {
    margin-left: 1em;
  }

}

@media only screen and (max-width: 768px) {
  #help {
    [type="checkbox"] {
      &+label::after {
        content:'';
      }
    }
    .keyboard {
      display: none;
    }
  }
}

.material-icons {
  font-size: inherit;
}